.large-6.columns.panelcontainer
  .panel.articlepanel
    %h2
      = link_to article.title, article.link
      %small.articlecontrol
        = link_to 'edit', edit_article_path(article)
        &middot;
        = link_to 'delete', article_path(article), method: :delete
    %p= truncate(article.text, length: 100)

    -#= link_to 'View comments', 
              -#article_comments_path(article), 
              -#class: 'tiny button viewcomments',
              -#data: {dropdown: "drop#{article.id}"}

  -#.f-dropdown.content{id: "drop#{article.id}", data: {dropdown_content: true}}
    -#- article.comments.each do |comment|
      -#%h6
        -#%b= comment.name
        -#= comment.text
    -#= link_to 'Add comment', new_article_comment_path(article), class: 'tiny button'
