.large-12.columns.post
  .panel.clearfix
    .post-header
      .voting
        .upvotes{data: {id: post.id}}= post.upvotes.count
        = button_to '↑', post_upvotes_path(post), class: 'tiny button upvote', remote: true
      %h2
        - link = post.link || post_path(post)
        - if post.title.empty?
          %i= link_to "untitled", link
        - else
          = link_to post.title, link
        - if current_user && post.user == current_user
          %small.postcontrol
            = link_to 'edit', edit_post_path(post)
            &middot;
            = link_to 'delete', post_path(post), method: :delete
    %p.taglist
      = post.tags.map do |tag|
        -   '#' + tag.to_s
      - end.join(' ')
    = image_tag post.image.url(:medium), class: 'post-image post-image-small' if post.image?
    %p= truncate(post.body, length: 500)

    = link_to 'View comments', 
              post_comments_path(post), 
              class: 'tiny button viewcomments',
              data: {dropdown: "drop#{post.id}"}

  .f-dropdown.content{id: "drop#{post.id}", data: {dropdown_content: true}}
    - post.comments.each do |comment|
      %h6
        %b= comment.name
        = comment.text
    = link_to 'Add comment', new_post_comment_path(post), class: 'tiny button'
