.large-6.columns.panelcontainer
  .panel.postpanel
    %h2
      - if post.title.empty?
        %i= link_to "untitled", post_path(post)
      - else
        = link_to post.title, post_path(post)
      %small.postcontrol
        = link_to 'edit', edit_post_path(post)
        &middot;
        = link_to 'delete', post_path(post), method: :delete
    %p.taglist
      = post.tags.map do |tag|
        -   '#' + tag.to_s
      - end.join(' ')
    = image_tag post.image.url(:medium), class: 'post-image post-image-small' if post.image?
    %p= truncate(post.body, length: 200)

    = link_to 'View comments', 
              post_comments_path(post), 
              class: 'tiny button viewcomments',
              data: {dropdown: "drop#{post.id}"}

  .f-dropdown.content{id: "drop#{post.id}", data: {dropdown_content: true}}
    - post.comments.each do |comment|
      %h6
        %b= comment.name
        = comment.text
    = link_to 'Add comment', new_post_comment_path(post), class: 'tiny button'
