%h1 Posts#show
.row
  .small-12.columns
    %h2
      = link_to @post.title, post_path(@post)
      %small.postcontrol
        = link_to 'edit', edit_post_path(@post)
        &middot;
        = link_to 'delete', post_path(@post), method: :delete
    %p.taglist
      = @post.tags.map do |tag|
        -   '#' + tag.to_s
      - end.join(' ')
    = image_tag @post.image.url(:medium), class: 'post-image' if @post.image?
    %p= @post.body

    %h4
      %i Comments

    - @post.comments.each do |comment|
      %h6
        %b= comment.name
        = comment.text

    = link_to 'Add comment', new_post_comment_path(@post), class: 'tiny button'
